Functions are great for modularity! Often times it's better to think of a long program as really just a collection of commonly done operations. Often we use the same operations over and over. Whenever this is the case for an operation, it belongs in its own function.

Quick side note: "\*\*" is the exponent operator, e.g. 4\*\*3 means four raised to the third power

In [5]:
#ex 
4**2

16

## New data type: Tuple

Tuples are lists of numbers but they differ from the list data type in that they are immutable, meaning one they are created their elements cannot be changed/manipulated

Tuple delimiters: ( and )

Ex. (1,2,3)

Elements of tuples can be called by indexing, just the way you do with a list

e.g. x = (1,2,3) ==> x[0] returns --> 1

In [19]:
#ex.

x = (1,2,3)

In [20]:
x[0]

1

So we see that the first element in the tuple is 1 when we call its index. What if we try to overwrite the 1 and make the first element a 4?

In [21]:
x[0] = 4

TypeError: 'tuple' object does not support item assignment

We get an error because tuples are immutable, unlike lists, which are mutable. So we cannot change the existing data in a tuple, but we can still add on to it, just the same way we add on to a list

In [22]:
x + (4,5)

(1, 2, 3, 4, 5)

In [30]:
def magnitude(x):
    
    from math import sqrt
    
    d_squared = 0
    
    for elem in x:
        
        d_squared += elem**2        
    
    return sqrt(d_squared)

In [31]:
x = (3,4)

In [32]:
magnitude(x)

5.0

In [34]:
def dot_prod(x,y):
    
    #We can exit the function early and without throwing an error by first verifying the tuple/vectors are of the same length
    if len(x)!= len(y):
        
        # if this return statement gets executed we will exit the function early
        return 'You cannot take the dot product of vectors in different dimensions'
    
    dot = 0
    
    for i in range(len(x)):    
        
        dot += x[i]*y[i]
        
    return dot

In [36]:
dot_prod((2,2),(1,1))

4

In [37]:
def cos_theta(x,y):
    
    #We can exit the function early and without throwing an error by first verifying the tuple/vectors are of the same length
    if len(x)!= len(y):
        
        # if this return statement gets executed we will exit the function early
        return 'You cannot take the dot product of vectors in different dimensions'
    
    dot = dot_prod(x,y)
    
    mag_x = magnitude(x)
    mag_y = magnitude(y)
    
    cos = dot/(mag_x*mag_y)
    
    return cos

In [40]:
cos_theta((1,1),(0,1))

0.7071067811865475